Lab | Data Cleaning Bonus Challenge

In [17]:
import pandas as pd

In [18]:
# Load the Iris dataset
iris_df = pd.read_csv('iris-data.csv')

# Display the first few rows of the dataset
iris_df.head()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [19]:
iris_df.shape

(150, 5)

In [20]:
# Check data types of each column
print(iris_df.dtypes)

sepal_length_cm    float64
sepal_width_cm     float64
petal_length_cm    float64
petal_width_cm     float64
class               object
dtype: object

In [21]:
# Check descriptive statistics of numerical columns
print(iris_df.describe())

       sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
count       150.000000      150.000000       150.000000      145.000000
mean          5.644627        3.054667         3.758667        1.236552
std           1.312781        0.433123         1.764420        0.755058
min           0.055000        2.000000         1.000000        0.100000
25%           5.100000        2.800000         1.600000        0.400000
50%           5.700000        3.000000         4.350000        1.300000
75%           6.400000        3.300000         5.100000        1.800000
max           7.900000        4.400000         6.900000        2.500000

In [23]:
# Check for missing values
print(iris_df.isnull().sum())

sepal_length_cm    0
sepal_width_cm     0
petal_length_cm    0
petal_width_cm     5
class              0
dtype: int64

In [28]:
iris_df['petal_width_cm'].nunique()

22

In [29]:
print(iris_df['petal_width_cm'].unique())

[0.2 0.4 0.3 nan 0.1 0.5 0.6 1.4 1.5 1.3 1.6 1.  1.1 1.8 1.2 1.7 2.5 1.9
 2.1 2.2 2.  2.4 2.3]

In [30]:
# Check for non-numeric values in the 'petal_width_cm' column
non_numeric_values = iris_df[~iris_df['petal_width_cm'].apply(lambda x: str(x).replace('.', '').isdigit())]
print(non_numeric_values)

    sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm  \
7               5.0             3.4              1.5             NaN
8               4.4             2.9              1.4             NaN
9               4.9             3.1              1.5             NaN
10              5.4             3.7              1.5             NaN
11              4.8             3.4              1.6             NaN

          class
7   Iris-setosa
8   Iris-setosa
9   Iris-setosa
10  Iris-setosa
11  Iris-setosa

In [32]:
# Remove non-numeric values from 'petal_width_cm' column
iris_df['petal_width_cm'] = pd.to_numeric(iris_df['petal_width_cm'], errors='coerce')

# Replace missing values with the mean
mean_petal_width = iris_df['petal_width_cm'].mean()
iris_df['petal_width_cm'].fillna(mean_petal_width, inplace=True)

In [33]:
iris_df

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,2.3,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [34]:
print(iris_df.isnull().sum())

sepal_length_cm    0
sepal_width_cm     0
petal_length_cm    0
petal_width_cm     0
class              0
dtype: int64

In [35]:
# Save cleaned dataset to CSV
iris_df.to_csv('cleaned_iris.csv', index=False)